<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>
  <xacro:include filename="$(find qb_hand_description)/urdf/qbhand.utils.xacro"/>
  <xacro:include filename="$(find onrobot_gripper)/urdf/onrobot_2fg7_upload.xacro"/>
	<xacro:arg name="namespace" default="qbhand2m1"/>
	<xacro:arg name="generate_control_tag" default="false"/>

	<link name="root_link"/>
	<xacro:build_hand_2m_from_yaml configuration="qbhand_right" namespace="$(arg namespace)" parent="root" generate_control_tag="$(arg generate_control_tag)">
		<origin xyz="0 0 0" rpy="0 0 0"/>
	</xacro:build_hand_2m_from_yaml>




  <!-- Macro para definir los dos brazos del UR -->
  <xacro:macro name="ur_dual" params="
    parent
    *origin
    ur_type_I
    ur_type_D
    joint_limits_parameters_file_I
    joint_limits_parameters_file_D
    kinematics_parameters_file_I
    kinematics_parameters_file_D
    physical_parameters_file_I
    physical_parameters_file_D
    visual_parameters_file_I
    visual_parameters_file_D
    ">

    <!-- Base para el brazo izquierdo (I) -->

    <link name="robot_mount_I"/>
    <joint name="base_to_robot_mount_I" type="fixed">
      <parent link="floor"/>
      <child link="robot_mount_I"/>
      <origin xyz="0.46 0 0" rpy="0 0 0" />
    </joint>

    <!-- Base para el brazo derecho (D) -->
    <link name="robot_mount_D"/>
    <joint name="base_to_robot_mount_D" type="fixed">
      <parent link="floor"/>
      <child link="robot_mount_D"/>
      <origin xyz="-0.46 0 0" rpy="0 0 0" />
    </joint>

    <!-- Definición del brazo izquierdo (I) -->
    <xacro:ur_robot
      name="ur_dual_I"
      tf_prefix="ur_dual_I_"
      parent="robot_mount_I"
      joint_limits_parameters_file="${joint_limits_parameters_file_I}"
      kinematics_parameters_file="${kinematics_parameters_file_I}"
      physical_parameters_file="${physical_parameters_file_I}"
      visual_parameters_file="${visual_parameters_file_I}"
      generate_ros2_control_tag="false"
    >
      <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:ur_robot>

     <!-- Conectar la SoftHand al UR5e -->
    <joint name="wrist_3_to_hand_mount" type="fixed">
      <parent link="ur_dual_I_tool0"/>
      <child link="root_link"/> <!-- Enlace base de la SoftHand -->
      <origin xyz="0 0 0" rpy="0 0 0"/> <!-- Ajusta el offset según sea necesario -->
    </joint> 

    <joint name="world_joint" type="fixed">
      <parent link="ur_dual_D_tool0" />
      <child link = "base_link" />
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
    </joint>


    <!-- Definición del brazo derecho (D) -->
    <xacro:ur_robot
      name="ur_dual_D"
      tf_prefix="ur_dual_D_"
      parent="robot_mount_D"
      joint_limits_parameters_file="${joint_limits_parameters_file_D}"
      kinematics_parameters_file="${kinematics_parameters_file_D}"
      physical_parameters_file="${physical_parameters_file_D}"
      visual_parameters_file="${visual_parameters_file_D}"
      generate_ros2_control_tag="false"
    >
      <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:ur_robot>

    <!-- Agregar un plano al entorno -->
    <link name="floor">
      <visual>
        <geometry>
          <box size="2.0 2.0 0.01"/>
        </geometry>
        <origin xyz="0 0 -0.005" rpy="0 0 0"/>
        <material name="floor_material">
          <color rgba="0.8 0.8 0.8 1.0"/>
        </material>
      </visual>
      <collision>
        <geometry>
          <box size="20.0 20.0 0.01"/>
        </geometry>
        <origin xyz="0 0 -0.005" rpy="0 0 0"/>
      </collision>
      <inertial>
        <mass value="1.0"/>
        <origin xyz="0 0 -0.005" rpy="0 0 0"/>
        <inertia ixx="0.01" iyy="0.01" izz="0.01" ixy="0.0" ixz="0.0" iyz="0.0"/>
      </inertial>
    </link>

    <joint name="floor_to_world" type="fixed">
      <parent link="world"/>
      <child link="floor"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

  </xacro:macro>
</robot>
